nav {
    position: fixed;
    background-color: red;
    margin-left: -10px;
    margin-top: -10px;
    width: 120%;
    height: 100px;
    z-index: 2;
}

img {
    margin-top: 15px;
    border-radius: 90px;
    width: 70px;
    margin-left: 70px;

}

ul:nth-of-type(1) {
    position: absolute;
    top: 12px;
    left: 400px;
    color: white;
    list-style-type: none;

}

#navHeading {
    position: absolute;
    top: 0px;
    left: 150px;
    color: white;
    ;


}
/* 

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 0;
    top: 10;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    width: 80%;
    top: 100px;
    height: 100%;
    left: 30px;
    background-color: transparent;

}

/* Control the right side */
.right {
    width: 20%;
    right: 0;
    background-color: blue;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



#contactUs {
    margin-left: 80px;
}

select {
    position: absolute;
    right: 320px;
    top: 40px;
    border: 0px;
    border-radius: 6px;
    width: 230px;
    height: 30px;

}


footer {
    position: relative;
    text-align: center;
    background-color: aqua;
    font-size: large;
    top: 100px;
  
}

footer>h4 {
    font-size: larger;
}


footer>p {
    position: relative;
    /* top: 547px; */
    /* left: 50px; */
    font-size: larger;
} 