nav {
    background-color: red;
}

img {margin-top: 1px;
    border-radius: 90px;
    width: 70px;
    margin-left: 70px;
}

ul:nth-of-type(1) {
    position: absolute;
    top: 12px;
    left:400px ;
    color: white;
    list-style-type: none;
 
}
#navHeading {
    position: absolute;
    top: 5px;
    left: 150px;
    color: white;

}

section{
    text-align: center;
}